.container{
	/*padding: 2rem;*/
	height:100vh;
	box-sizing:border-box;
}

.slider-wrapper{
	position: relative;
	/*max-height: 100%;
	height: 100%;*/
	width: auto;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: auto 9/6;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover
}

.slider-wrapper2{
	position: relative;
	/*max-height: 100%;
	height: 100%;*/
	width: auto;
	margin: 0 auto;
}

.slider2{
	display: flex;
	aspect-ratio: 3/2 auto;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	margin: 0 auto;
}

::-webkit-scrollbar {
  width: 0;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

@media screen and (max-width: 768px) {
	.slider {
		aspect-ratio: auto 9/16;
		justify-content: center;
	}
}
